<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Sente App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/simplex/bootstrap.min.css" rel="stylesheet" integrity="sha384-1OYccka9EByiS23wvPFiYHBPRAgU91xYVFb8g8sen6vRiBI5Uko6+B87q8zPGUnA" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--    nav class="navbar navbar-expand-lg navbar-dark bg-primary-->
    <a class="navbar-brand" href="/">sente Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">

            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                <a class="nav-link" href="/senteapp/member/list">All Members<span class="sr-only">(current)</span></a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                <a class="nav-link" href="/senteapp/account/list">Accounts</a>
            </li>

            <li sec:authorize="hasRole('ROLE_MANAGER')" class="nav-item">
                <a class="nav-link" href="/senteapp/member/membersperaccount">Members</a>
            </li>
            <li sec:authorize="hasRole('ROLE_MANAGER')" class="nav-item">
                <a class="nav-link" href="#">Loans</a>
            </li>
            <li sec:authorize="hasRole('ROLE_MEMBER')" class="nav-item">
                <a class="nav-link" href="/senteapp/loan/apply">Apply for Loan</a>
            </li>

            <li sec:authorize="hasRole('ROLE_MANAGER')" class="nav-item">
                <a class="nav-link" href="/senteapp/loan/apply">Apply for Loan</a>
            </li>

            <li sec:authorize="hasRole('ROLE_MEMBER')" class="nav-item">
                <a class="nav-link" href="#">Savings</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                <a class="nav-link" href="/senteapp/accounttype/list">Account Types</a>
            </li>
            <li sec:authorize="hasRole('ROLE_MANAGER')" class="nav-item">
                <a class="nav-link" href="/senteapp/manager/approvals">Approvals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/senteapp/payment/deposit">Deposit</a>
            </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">
            <span sec:authorize="isAnonymous()" style="color:#fff;border-right: white 0px solid; padding-left: 2em; padding-right: 1em;">Welcome, Guest</span>
            <!--<a style="color: #ffffff; margin-right: 0em;" class="nav-link" href="#">John Doe</a>-->
            <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
            <a sec:authorize="isAnonymous()" href="/senteapp/login" class="btn btn-secondary">Sign In</a>

            <!--                <span>Welcome, </span><span sec:authentication="principal.username" style="color:#fff;border-right: white 0px solid; padding-left: 2em; padding-right: 1em;">Guest</span>-->
            <a sec:authorize="isAuthenticated()" href="/senteapp/logout" class="btn btn-secondary">Sign out</a>
        </form>

    </div>
</nav>

<div class="container">
    <div class="row mt-4">
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Accounts
                    <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Members
                    <span class="badge badge-primary badge-pill">3</span>
                </li>

            </ul>
        </div>
        <div class="col-9">
            <th:block layout:fragment="content">

            </th:block>
        </div>
    </div>
</div>
<script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>

</body>
</html>