<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/masterlayout.html}">
<head>

</head>
<body>
<th:block layout:fragment="content">
    <div >
        <h4>Add New Member</h4>

        <p>
            Please Fill the required Fields.
        </p>

    </div>

    <div style="padding-top:1em;" class="container">

        <form id="newMemberForm" method="post" action="/senteapp/member/add" th:object="${member}">
            <fieldset>

                <div class="row" style="margin-top: 10px">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="memberNumber">Member Number</label>
                            <span th:if="${#fields.hasErrors('memberNumber')}" th:errors="*{memberNumber}"
                                  class="alert alert-danger"></span>
                            <input id="memberNumber" name="memberNumber" type="number" class="form-control" placeholder="Member Number">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                      class="alert alert-danger"></span>
                                <input id="firstName" name="firstName" type="text" class="form-control"  aria-describedby="firstNameHelp" placeholder="Firstname"
                                       th:value="${member.firstName}">
                            </div>
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="middleName">Middle Name </label>
                            <input id="middleName" name="middleName" type="middleName" class="form-control"  aria-describedby="umiddleNameHelp" placeholder="Middlename"
                                   th:value="${member.middleName}">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name </label>
                            <input id="lastName" name="lastName" type="text" class="form-control"  aria-describedby="lastNameHelp" placeholder="Lastname"
                                   th:value="${member.lastName}">

                        </div>
                    </div>




                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="contactNumber">Contact Number </label>
                            <input id="contactNumber" name="contactNumber" type="number" class="form-control"  aria-describedby="contactNumberHelp" placeholder="e.g +1 234 567 8910"
                                   th:value="${member.contactNumber}">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dateJoined">Join Date </label>
                            <input id="dateJoined" name="dateJoined" type="date" class="form-control"  aria-describedby="dateJoinedHelp"
                                   th:value="${member.dateJoined}">

                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">



                <div >
                    <h4>Add Member Address</h4>

                    <p>
                    <ul> <li><b><i>*Please Fill All Required Fields.</i></b></li></ul>
                    </p>

                </div>
                </div>

                <div class="row" style="margin-top: 10px">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="street">Street Name </label>
                            <input id="street" name="street" type="text" class="form-control"  aria-describedby=streetHelp" placeholder="Street Name"
                                   th:value="${address.street}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="city">City </label>
                            <input id="city" name="city" type="text" class="form-control"  aria-describedby=cityHelp" placeholder="City"
                                   th:value="${address.city}">

                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="state">State </label>
                            <input id="state" name="state" type="text" class="form-control"  aria-describedby=stateHelp" placeholder="State"
                                   th:value="${address.state}">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="zip">ZipCode </label>
                            <input id="zip" name="zip" type="text" class="form-control"  aria-describedby=zipHelp" placeholder="Zip Code"
                                   th:value="${address.zip}">

                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="country">Country </label>
                            <input id="country" name="country" type="text" class="form-control"  aria-describedby=countryHelp" placeholder="Country"
                                   th:value="${address.country}">

                        </div>
                    </div>
                </div>

                <div style="float:right;">
                    <button id="btnSubmit" type="submit" class="btn btn-outline-success btn-lg" style="color: #31ccb4">Save Member</button>
                    <a href="/senteapp/member/list" class="btn btn-outline-warning btn-lg" style="color: crimson">Cancel</a>&nbsp;&nbsp;&nbsp;

                </div>
            </fieldset>
        </form>
    </div>


</th:block>
</body>
</html>
