<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth-masterlayout.html}">
<head>

</head>
<body>
<th:block layout:fragment="content">
    <div >
        <h4>Add Account Manager</h4>

        <p>
            Please Fill the required Fields.
        </p>

    </div>

    <div style="padding-top:1em;" class="container">

        <form id="newMemberForm" method="post" action="/senteapp/member/addmanager" th:object="${member}">
            <fieldset>

                <div class="row" style="margin-top: 10px">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="memberNumber">Member Number</label>
                            <span th:if="${#fields.hasErrors('memberNumber')}" th:errors="*{memberNumber}"
                                  class="alert alert-danger"></span>
                            <input id="memberNumber" name="memberNumber" type="number" class="form-control" placeholder="Member Number" required>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="contactNumber">Contact Number </label>
                            <input id="contactNumber" name="contactNumber" type="number" class="form-control"  aria-describedby="contactNumberHelp" placeholder="e.g +1 234 567 8910"
                                   th:value="${member.getContactNumber()}" required>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{lastName}"
                                      class="alert alert-danger"></span>
                                <input id="firstName" name="firstName" type="text" class="form-control"  aria-describedby="firstNameHelp" placeholder="Firstname"
                                       th:value="${member.firstName}" required>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="middleName">Middle Name </label>
                            <input id="middleName" name="middleName" type="middleName" class="form-control"  aria-describedby="umiddleNameHelp" placeholder="Middlename"
                                   th:value="${member.middleName}">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name </label>
                            <input id="lastName" name="lastName" type="text" class="form-control"  aria-describedby="lastNameHelp" placeholder="Lastname"
                                   th:value="${member.lastName}" required>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="account">Account Name</label>
                            <span th:if="${#fields.hasErrors('account')}" th:errors="*{account}"
                                  class="alert alert-danger"></span>
                            <select class="form-control"  id="account" name="account">
                                <option value="0">Select Account Name</option>
                                <option th:each="acct : ${accounts}" th:value="${acct.accountId}" th:text="${acct.accountName}"></option>
                            </select>
                        </div>
                    </div>

<!--                    <div class="col-md-6">-->
<!--                        <div class="form-group">-->
<!--                            <label for="email">Email Address </label>-->
<!--                            <input id="email" name="user.email" type="email" class="form-control"  aria-describedby="emailNameHelp" placeholder="Email Address Here"-->
<!--                                   th:value="${user.email}" required>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-6">-->
<!--                        <div class="form-group">-->
<!--                            <label for="username">Username </label>-->
<!--                            <input id="username" name="user.username" type="text" class="form-control"  aria-describedby="usernameHelp" placeholder="username"-->
<!--                                   th:value="${user.username}" required>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-6">-->
<!--                        <div class="form-group">-->
<!--                            <label for="password">Password</label>-->
<!--                            <input id="password" name="user.password" type="password" class="form-control"  aria-describedby="passwordHelp" placeholder="password"-->
<!--                                   th:value="${user.password}" required>-->

<!--                        </div>-->
<!--                    </div>-->

                    <div class="col-md-12">
                        <h4>Add Member Address</h4>

                        <p>
                        <ul> <li><b><i>*Please Fill All Required Fields.</i></b></li></ul>
                        </p>

                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address.street">Street </label>
                            <input id="address.street" name="address.street" type="text" class="form-control"  aria-describedby="lastNameHelp" placeholder="Lastname"
                                   th:value="${address.street}">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">State </label>
                            <input id="address.state" name="address.state" type="text" class="form-control"  aria-describedby="lastNameHelp" placeholder="Lastname"
                                   th:value="${address.state}">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">City </label>
                            <input id="address.city" name="address.city" type="text" class="form-control"  aria-describedby="lastNameHelp" placeholder="Lastname"
                                   th:value="${address.city}">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Zip </label>
                            <input id="address.zip" name="address.zip" type="text" class="form-control"  aria-describedby="lastNameHelp" placeholder="Lastname"
                                   th:value="${address.zip}">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Country </label>
                            <input id="address.country" name="address.country" type="text" class="form-control"  aria-describedby="lastNameHelp" placeholder="Lastname"
                                   th:value="${address.country}">

                        </div>
                    </div>



                </div>

                <div class="row">
                    <button id="btnSubmit" type="submit" class="btn btn-outline-success btn-lg" style="color: #31ccb4">Save Member</button>
                    <a href="/senteapp/member/list" class="btn btn-outline-warning btn-lg" style="color: crimson">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>


</th:block>
</body>
</html>