<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/masterlayout.html}">
<head>
</head>
<body>

<th:block layout:fragment="content">

    <div style="padding-top:1em;" class="container">

        <h3 style="padding-top: 50px">Active Account Members</h3>
        <hr/>
        <div style="font-size: 1em">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Number</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Price</th>
                    <th scope="col"> Qty in Stock </th>
                    <th scope="col"> Date Supplied </th>
                    <th scope="col"> Supplier Name </th>

                    <th scope="col">Actions</th>
                    <th scope="col">&nbsp;</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="product,iterStat : ${products}">
                    <th scope="row" th:text="${iterStat.count}"></th>
                    <td th:text="${product.productNumber}"></td>
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.unitPrice}"></td>
                    <td th:text="${product.quantityInStock}"></td>
                    <td th:text="${product.dateSupplied}"></td>
                    <td th:text="${product.supplier.supplierName}"></td>

                    <td><a href="#">Edit Product</a></td>

                    <td>

                        <a href="#">Delete Product</a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>




</th:block>
</body>
</html>
