<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/auth-masterlayout.html}">
<head>
</head>
<body>



<th:block layout:fragment="content">

    <div class="container mt-3">

        <h2 class="mb-4 mb-3">Active Account Members
            <a sec:authorize="hasRole('ROLE_ADMIN')" href="/senteapp/member/addmanager" class="btn btn-outline-primary btn-lg float-right">Create Account Manager</a>
        </h2>
        <div style="float: left;margin-bottom: 20px">
            <form class="form-inline my-2 my-lg-0" action="/senteapp/member/search" method="get">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>


        <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Member Number</th>
                    <th scope="col">First Name</th>
                    <th scope="col">M</th>
                    <th scope="col"> LastName </th>
                    <th scope="col">Contact </th>
<!--                    <th scope="col"> Address </th>-->
                    <th scope="col">Acount Name</th>

                    <th scope="col">Actions</th>
                    <th scope="col">&nbsp;</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="member,iterStat : ${members}">
                    <th scope="row" th:text="${iterStat.count}"></th>
                    <td th:text="${member.memberNumber}"></td>
                    <td th:text="${member.firstName}"></td>
                    <td th:text="${member.middleName}"></td>
                    <td th:text="${member.lastName}"></td>
                    <td th:text="${member.contactNumber}"></td>
<!--                    <td th:text="${member.address}"></td>-->
                    <td th:text="${member.account.accountName}"></td>
<!--                    <td th:text="${member.account.accountId}"></td>-->
                    <td><a th:href="@{'/senteapp/member/show{memberId}'(memberId=${member.memberId})}" class="btn btn-sm btn-outline-info">Records</a></td>
                    <td><a class="btn btn-sm btn-outline-warning" th:href="@{'/senteapp/member/edit{memberId}'(memberId=${member.memberId})}">Edit</a></td>
                    <td><a class="btn btn-sm btn-outline-primary" href="#">Deactivate</a></td>

                </tr>
                </tbody>
            </table>

        </div>

    </div>

</th:block>
</body>
</html>
