<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/auth-masterlayout.html}">
<head>
</head>
<body>



<th:block layout:fragment="content">

    <div class="container mt-3">
        <h2 class="mb-4 mb-3">
            Page for <span th:text="${member.lastName}"></span>
<!--            <a sec:authorize="hasRole('ROLE_MANAGER')" href="/senteapp/member/add" class="btn btn-outline-primary btn-lg float-right">Add New Member</a>-->
        </h2>



        <div class="container">

            Member will see this page
<!--            <table class="table table-striped">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th scope="col">#</th>-->
<!--                    <th scope="col">Member Number</th>-->
<!--                    <th scope="col">First Name</th>-->
<!--                    <th scope="col">MiddleName</th>-->
<!--                    <th scope="col"> LastName </th>-->
<!--                    <th scope="col">Contact </th>-->
<!--                    &lt;!&ndash;                    <th scope="col"> Address </th>&ndash;&gt;-->
<!--                    <th scope="col">&nbsp;</th>-->

<!--                    <th scope="col">Actions</th>-->
<!--                    <th scope="col">&nbsp;</th>-->

<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="member,iterStat : ${members}">-->
<!--                    <th scope="row" th:text="${iterStat.count}"></th>-->
<!--                    <td th:text="${member.memberNumber}"></td>-->
<!--                    <td th:text="${member.firstName}"></td>-->
<!--                    <td th:text="${member.middleName}"></td>-->
<!--                    <td th:text="${member.lastName}"></td>-->
<!--                    <td th:text="${member.contactNumber}"></td>-->
<!--                    &lt;!&ndash;                    <td th:text="${member.address}"></td>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <td th:text="${member.account.accountName}"></td>&ndash;&gt;-->
<!--                    <td><a class="btn btn-outline-info btn-small" href="#">Records</a></td>-->
<!--                    <td><a class="btn btn-outline-warning btn-small" th:href="@{'/senteapp/member/edit{memberId}'(memberId=${member.memberId})}">Edit</a></td>-->
<!--                    <td><a class="btn btn-outline-primary btn-small" href="#">Deactivate</a></td>-->


<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
            <!--            <div class="d-flex justify-content-center">-->
            <!--                <ul class="pagination pagination-lg">-->
            <!--                    <li class="page-item disabled">-->
            <!--                        <a class="page-link" href="#">Pages: </a>-->
            <!--                    </li>-->
            <!--                    <li th:each="i : ${#numbers.sequence(1, members.totalPages)} "-->
            <!--                        th:class="${currentPageNo}==${i-1}?'page-item active':'page-item'" th:if="${i} >= 1" >-->
            <!--                        <a th:href="@{/senteapp/member/list(pageNo=${i-1})}" th:text="${i}" class = "page-link"></a>-->
            <!--                    </li>-->
            <!--                </ul>-->
            <!--            </div>-->
        </div>

    </div>

</th:block>
</body>
</html>
