<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/masterlayout.html}">
<head>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container mt-3 mb-3">
        <h2 class="mb-5">
            List of Accounts
            <a href="/senteapp/account/new" class="btn btn-outline-primary btn-lg float-right">Create New Account</a>
        </h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Account Number</th>
                <th scope="col">Account Name</th>
                <th scope="col">Account Type</th>
                <th scope="col">Date created</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="account, iterStat : ${accounts}">
                    <th scope="row" th:text="${iterStat.count}"></th>
                    <td th:text="${account.accountName}"></td>
                    <td th:text="${account.accountNumber}"></td>
                    <td th:text="${account.accountType.accountTypeName}"></td>
                    <td th:text="${#temporals.format(account.dateCreated, 'MMM dd, yyyy')}"></td>
                    <td>
                        <a href="" class="btn btn-outline-info">View</a>
                    </td>
                    <td>
                        <a href="" class="btn btn-outline-warning">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
            <ul class="pagination pagination-lg">
                <li class="page-item disabled">
                    <a class="page-link" href="#">Pages: </a>
                </li>
                <li th:each="i : ${#numbers.sequence(1, accounts.totalPages)}"
                    th:class="${currentPageNo}==${i-1}?'page-item active':'page-item'">
                    <a th:href="@{/senteapp/account/list(pageno=${i-1})}"
                       th:text="${i}" class = "page-link"></a>
                </li>
            </ul>
        </div>
    </div>
</th:block>
</body>
</html>