<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth-masterlayout.html}">
<head>
</head>
<body>
<th:block layout:fragment="content">
    <div>
        <form name="newaccounttype" id="newaccounttype" method="post" action="/senteapp/accounttype/add" th:object="${accountType}">
            <fieldset>
                <input type="hidden" name="accountTypeId" th:value="${accountType.accountTypeId}"/>
                <div class="container">
                    <div class="row">
                        <h2>Add new account type</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="accountTypeNumber">Account Type Number</label>
                                <span th:if="${#fields.hasErrors('accountTypeNumber')}" th:errors="*{accountTypeNumber}"
                                      class="alert alert-danger"></span>
                                <input id="accountTypeNumber" name="accountTypeNumber" type="number" class="form-control" th:value="${accountType.accountTypeNumber}"
                                       placeholder="Account Type Number" required = "required">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="accountTypeName">Account Type Name</label>
                                <span th:if="${#fields.hasErrors('accountTypeName')}" th:errors="*{accountTypeName}"
                                      class="alert alert-danger"></span>
                                <input id="accountTypeName" name="accountTypeName" type="text" class="form-control" th:value="${accountType.accountTypeName}"
                                       placeholder="accountTypeName" required = "required">
                            </div>
                        </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-4">
                        <a href="/senteapp" class="btn btn-outline-warning" style="float: left">Cancel</a>&nbsp;&nbsp;&nbsp;
                        <button id="btnSubmit" type="submit" class="btn btn-outline-success">Create Account Type</button>
                    </div>
                </div>
                </div>
    </fieldset>
    </form>
    </div>
</th:block>
</body>
</html>